# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v3.2.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-yaml
  - id: check-added-large-files
- repo: https://github.com/pedrox-hs/dart-pre-commit
  rev: v1.1.0
  hooks:
  - id: dart-analyze
  - id: dart-format
    args: ["--output=write", "--set-exit-if-changed"]
